/* Sidebar Styles */
.sidebar {
  width: 100%;
  height: 100%;
  background-color: white; 
  color: black; 
  transition: width 0.3s ease;
  font-weight: bold;
  padding: 1rem; 
  overflow-y: auto;
}

/* When the sidebar is collapsed */
.sidebar.collapsed {
  width: 15%; 
}

/* Nav link styles */
.sidebar .nav-link {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 1rem; 
  padding: 0.8rem 1rem; 
  border-radius: 0.5rem; 
  color: black; 
  text-decoration: none; 
  font-size: 1rem; 
}

/* Hover  */
.sidebar .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  color: black; 
}

/* Submenu styles */
.submenu {
  transition: all 0.3s ease-in-out;
}

/* When the sidebar is collapsed, hide text and submenu */
.sidebar.collapsed .nav-link span,
.sidebar.collapsed .submenu {
  display: none;
}

/* Spacing between nav items */
.sidebar .nav-item {
  margin-bottom: 0.5rem; 
}

/* Icon size */
.bi {
  font-size: 22px; 
  font-weight: bold;
}


.sidebar .nav-link.active {
  background-color: #DFF0FF;
  color: #0561FC;
  height: 3.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.overlay-sidebar {
  z-index: 1050;  
  background-color: rgba(0, 0, 0, 0.5); 
}

.sidebar {
  transition: all 0.3s ease-in-out; 
}

@media (max-width: 767.98px) {
  .sidebar {
    z-index: 1050; 
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%; 
    background-color: #fff; 
  }
}
